@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #0a0a0a;
  background: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  
  margin: 0 auto;
  padding: 1rem;
}